/* ---------- HEADER----------  */
@media (max-width: 576px) {}

@media (max-width: 768px) {
    .container {
        padding: 0 24px;
    }

    .header__bottom {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .header__phone {
        display: block !important;
    }

    .header__search {
        width: 100%;
    }
    
    .left__contacts {
        margin-right: 0px;
        text-align: center;
    }
}

@media (max-width: 1200px) {
    .header__phone {
        display: none;
    }

    .header__button {
        display: none;
    }

    .header__button--mobile {
        display: block;
        flex: none;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background: #0B9CEF url(../images/phone.svg) no-repeat center;

    }
}

/* ---------- HEADER end ----------  */

/* ---------- FOOTER----------  */
@media (max-width: 1200px) {
    .footer-top {
        gap: 30px;
        justify-content: space-between;
        grid-template-columns: repeat(auto-fit, minmax(130px, 230px));
    }

    .footer-bottom {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .footer__nav-left {
        grid-area: 2/1/3/2;
    }

    .footer__nav-right {
        grid-area: 2/2/3/3;
    }

    .footer__info-block {

        grid-area: 1/2/2/3;
    }

    .footer-top {
        gap: 20px;
    }

    .call-block__btn-footor {
        margin-top: 10px;
    }

}

@media (max-width: 576px) {

    .footer__logo {
        margin: 0 0 10px 15px;
    }


    .logo {
        max-width: 191px;
    }

    .footer-top {
        padding: 10px 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column;
        padding: 0 15px;
        border-top: none;
    }

    .footer__nav-left,
    .footer__nav-right,
    .footer-paymets,
    .footer__info-block {
        display: none;
    }

    .footer-bottom .write-me a {
        margin-top: 15px;
        color: #0B9CEF;
        background-color: #ffffff;
        position: relative;
        display: block;
        padding: 0;
        text-decoration: underline;
    }

    .footer__info-block {
        display: none;
    }

    .line {
        display: block;
        border-bottom: 1px solid #EBEBEB;
        width: 100%;
        /* линия */
    }

    .copyright {
        padding-bottom: 20px;
    }

}

/* ---------- FOOTER end----------  */

/* ---------- COMMENTS ----------*/
@media (max-width: 768px) {
    .comment {
        flex-direction: column;
    }

    .comment .inner {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .wpcf7-form-control-wrap input[type="text"] {
        width: 100%;
    }

    .wpcf7-form-control-wrap input[type="email"] {
        width: 100%;
    }
}

/* ---------- COMMENTS  end ----------  */

/* ---------- GELOCATION ---------- */
@media (max-width: 768px) {
    .courier__content {
        flex-direction: column;
        padding: 16px 32px;
    }

    .courier__picture {
        margin: 0 0 16px;
    }

    .contacts {
        padding: 16px 32px;
    }
}

/* ---------- GELOCATION end ---------- */

/* ---------- ARCHIVE ---------- */
@media (max-width: 768px) {
    .article {
        flex-direction: column;
        padding: 15px;
    }

    .article .inner {
        flex-direction: column;
    }
}

/* ---------- ARCHIVE end ---------- */


/* ---------- ORDERING ---------- */
@media (max-width: 1024px) {
    .ordering__info {
        justify-items: center;
    }

    .info__item {
        max-width: 485px;
    }

}

@media (max-width: 576px) {


    .ordering__info {
        grid-template-columns: 1fr;
    }

    .info__item {
        padding: 15px 15px;
        width: 100%;
        flex-direction: column;
    }

    .info__item .wrap {
        margin: 5px 0 0 0;
    }

    .info__pic {
        min-width: 55px;
        min-height: 55px;
    }

 }
 @media (max-width: 1440px) {
    .direction__head {
        flex-direction: column;
        margin: 0px 0px 20px 0px;
    }
 } 


}

/* ---------- ORDERING end ---------- */

