/* ---------- HEADER----------  */
@media (max-width: 576px) {
    ...
}

@media (max-width: 768px) {
    .container {    
        main
        /* margin: 0 24px; */
    }

    .header__bottom {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .header__phone {
        display: block !important;
    }

    .header__search {
        width: 100%;
    }
    
    .left__contacts {
        margin-right: 0px;
        padding: 0 15px;
    }
}

@media (max-width: 1200px) {
    .header__phone {
        display: none;
    }

    .header__button {
        display: none;
    }

    .header__button--mobile {
        display: block;
        flex: none;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-image: url(../images/phone.svg);
        background-color: #FFFFFF;
    }
}

/* ---------- HEADER end ----------  */

/* ---------- FOOTER----------  */
@media (max-width: 1200px) {
    .footer-top {
        gap: 30px;
        justify-content: space-between;
        grid-template-columns: repeat(auto-fit, minmax(130px, 230px));
    }

    .footer-bottom {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .footer__nav-left {
        grid-area: 2/1/3/2;
    }

    .footer__nav-right {
        grid-area: 2/2/3/3;
    }

    .footer__info-block {

        grid-area: 1/2/2/3;
    }

    .footer-top {
        gap: 20px;
    }

    .call-block__btn-footor {
        margin-top: 10px;
    }

}

@media (max-width: 576px) {
    .container {
        padding: 0;
    }

    .footer__logo {
        margin: 0 0 10px 15px;
    }


    .logo {
        max-width: 191px;
    }

    .footer-top {
        padding: 10px 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column;
        padding: 0 15px;
        border-top: none;
    }

    .footer__nav-left,
    .footer__nav-right,
    .footer-paymets,
    .footer__info-block {
        display: none;
    }

    .footer-bottom .write-me a {
        margin-top: 15px;
        color: #0B9CEF;
        background-color: #ffffff;
        position: relative;
        display: block;
        padding: 0;
        text-decoration: underline;
    }

    .footer__info-block {
        display: none;
    }

    .line {
        display: block;
        border-bottom: 1px solid #EBEBEB;
        width: 100%;
        /* линия */
    }

    .copyright {
        padding-bottom: 20px;
    }

}


/* ---------- FOOTER end----------  */

/* ---------- COMMENTS ----------*/
@media (max-width: 768px) {
    .comment {
        flex-direction: column;
    }

    .comment .inner {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .wpcf7-form-control-wrap input[type="text"] {
        width: 100%;
    }

    .wpcf7-form-control-wrap input[type="email"] {
        width: 100%;
    }
}


/* ---------- COMMENTS  end ----------  */

/* ---------- GELOCATION ---------- */
@media (max-width: 576px) {
    .contact__items {
        padding: 12px 24px 37px 20px;
        margin: 0px 0px 24px 0px;
    }

    .contact__item {
        padding: 12px 24px 37px 20px;
    }
}

/* ---------- GELOCATION end ---------- */
=======
/* ---------- FOOTER end ----------  */

 /* page price */

 @media (max-width: 768px) {
    .card-certificate {
        max-width: 312px;
        width: 100%;
    }

    .price__container {
        padding: 0 30px;
    }

    .price__list {
        column-gap: 50px;
        row-gap: 30px; 
    }
 }


 @media (max-width: 576px) {
    .header-page-price {
        margin-bottom: 28px;
        padding-left: 25px;
    }

    .price__list {
        grid-template-columns: 312px;
        row-gap: 60px; 
    }

    .card-certificate__picture {
        max-width: 216px;
        max-height: auto;
        margin-bottom: 27px;
    }

    .price__container {
        max-width: 312px;
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }

    .card-certificate {
        padding: 24px 24px 30px;
        max-width: 348px;
        width: 100%;
        border-radius: 6px;  
        background-color: #FFFFFF;  
    }
 }
 @media (max-width: 1440px) {
    .direction__head {
        flex-direction: column;
        margin: 0px 0px 20px 0px;
    }
 } 