/* Header */

.header {   
    height: 192px; 
}

.container {    
    margin: 0 48px;
}

.header__nav {
    background: #FFFFFF;
    box-shadow: 0px 11px 19px rgba(0, 0, 0, 0.04);
    border-radius: 6px;
    height: 48px;    
}

.header__nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

.header__nav-item {
    list-style: none;
    width: 100%;
    height: 100%;
    text-align: center;
}

.header__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px auto;
}

.header__phone {
    font-weight: 600;
    font-size: 26px;
    line-height: 160%
}

.header__button {
    background: #0B9CEF;
    color: #FFFFFF;
    padding: 10px 32px;
    height: 40px;
    border-radius: 22px;
}

.header__search {
    width: 880px;
    padding: 16px 24px;
    border: 0;
    border-radius: 6px;
    background: #F5F5F5;
}

.wrapper {
    background: #F5F5F5;
    height: 100%;
}

.header-page {
    width: 1920px;
    min-height: 137px;
    background-image: linear-gradient(90deg, rgb(11, 156, 239, .75) 6.67%, rgb(163, 212, 239, .75) 94.66%), url('./img/banner-top-page.jpg');
    padding-top: 24px;
    padding-left: 164px;
    margin-bottom: 89px;
}

.heading {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}

.container {
    max-width: 1194px;
    margin: 0 auto;
    padding: 0px 15px;
}

/* Курьерская служба ======== */
.courier__container {
    margin: 0px 0px 66px 0px;
}

.courier__content {
    background: #fff;
    border-radius: 8.93846px;
    display: flex;
    align-items: center;
    padding: 0px 67px 0px 64px;
}

.courier__picture {
    margin-right: 46px;
}

.courier__image {}

.courier__text {
    font-style: normal;
    font-weight: 600;
    font-size: 18.84px;
    line-height: 160%;
    color: #222129;
}

/* Курьерская служба ======== */


/* Курьерские услуги ======== */
.courier-services__items {
    display: flex;
    flex-wrap: wrap;
    gap: 63px;

    margin: 0px 0px 63px 0px;
}

.courier-services__item {
    flex: 1 1 47%;
}

.item-services {
    display: flex;
    background: #FFFFFF;
    border-radius: 8.93846px;
    padding: 26px 0px 43px 0px;
}

.right__title {
    max-width: 400px;
}

.left__title {
    max-width: 280px;
}

.left__text {
    max-width: 282px;
}

.item-services__icon {
    flex: 0 0 60px;
    height: 102px;
    align-self: flex-start;
    position: relative;
}

.right_icon {
    width: 55px;
    height: 55px;
    margin: 0px 20px;
}

.call {
    background: rgb(194, 19, 19);
    border-radius: 50px;
    flex: 0 0 60px;
    height: 102px;
    align-self: flex-start;
}

.services__call {
    background: #000;
}

.item-services__body {}

.item-services__title {
    font-style: normal;
    font-weight: 500;
    font-size: 22.84px;
    line-height: 160%;
    color: #222129;
    margin: 0px 0px 22px 0px;
}

.item-services__text {
    font-style: normal;
    font-weight: 500;
    font-size: 18.84px;
    line-height: 160%;
    color: #222129;
}

.item-services__text,
p {
    margin-bottom: 20px;
}

/* Курьерские услуги ======== */


/* Доставка  ======== */
.delivery__container {
    margin: 0px 0px 52px 0px;
}

.delivery-info {
    font-weight: 600;
    font-size: 18.84px;
    line-height: 160%;

    color: #222129;
}

.delivery__menu {}

.menu__list {
    padding-left: 25px;
}

.list__item {}

.item__link {
    font-weight: 600;
    font-size: 18.84px;
    line-height: 160%;
    text-decoration: none;
    color: #0B9CEF;
}

.item__link,
li::marker {
    color: #0B9CEF;
}

/* Доставка  ======== */


/* Геолокация  ======== */
.container__gelocation {
    max-width: 1592px;
    margin: 0 auto;
}

.container__gelocation {}

.gelocation {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;
    justify-content: center;
}

.contact__items {
    margin: 0px 24px 24px 0px;
}

.contact__item {
    background: #FFFFFF;
    box-shadow: 0px 11.5279px 23.0558px rgba(0, 0, 0, 0.06);
    border-radius: 6.91673px;
    text-align: left;
    padding: 53px 85px 184px 102px;
}

.contact__title {
    font-style: normal;
    font-weight: 500;
    font-size: 27.6669px;
    line-height: 170%;
    color: #222129;
    text-align: center;
    margin: 0px 0px 84px 0px;
}

.contact__address {
    font-style: normal;
    font-weight: 500;
    font-size: 20.7502px;
    line-height: 160%;
    color: #222129;

    max-width: 304px;
    margin: 0px 0px 33px 0px;
    position: relative;
    padding-left: 28px;
}

.contact__address::before {
    content: '';
    background: url('./img/gelocation.svg') no-repeat;
    width: 22px;
    height: 25px;
    position: absolute;
    top: 6px;
    left: -5px;
}

.contact__iphone {
    margin: 0px 0px 54px 0px;
    padding-left: 28px;
    position: relative;
}

.contact__iphone::before {
    content: '';
    background: url('./img/gelocation-call.svg') no-repeat;
    width: 22px;
    height: 25px;
    position: absolute;
    top: 6px;
    left: -5px;
}

.iphone-contact {
    color: #222129;
    text-decoration: none;
    font-weight: 500;
    font-size: 20.7502px;
    line-height: 160%;
}

.contact__work {
    font-style: normal;
    font-weight: 400;
    font-size: 18.4446px;
    line-height: 160%;
    color: #222129;
}

.gelocation__items {
    flex: 1 1 50%;
}

.gelocation__item {}

/* Геолокация  ======== */



@media (max-width: 576px) {
    .contact__item {
        padding: 12px 24px 37px 20px;
    }
}

@media (max-width: 768px) {
    .courier__content {
        justify-content: center;
        flex-wrap: wrap;
        padding: 0px 10px 0px 10px;
        margin-right: 0;
    }

    .contact__items {
        margin: 0px 0px 24px 0px;
    }
}

@media (min-width: 1200px) {}