/* ---------- HEADER----------  */
body {
    background: #f5f5f5;
}

.header {
    height: 192px;
}

.container {
    margin: 0 48px;
}

.header__nav {
    box-shadow: 0px 11px 19px rgba(0, 0, 0, 0.04);
    height: 48px;
}

.header__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px auto;
    gap: 15px;
}

.header__logo {
    flex: none;
}

.header__phone {
    font-weight: 600;
    font-size: 26px;
    line-height: 160%;
    flex: none;
}

.header__button {
    background: #0B9CEF;
    color: #FFFFFF;
    padding: 10px 32px;
    height: 40px;
    border-radius: 22px;
    flex: none;
}

.header__button--mobile {
    display: none;
}

.header__search {
    width: 880px;
    padding: 16px 24px;
    border: 0;
    border-radius: 6px;
    background: #F5F5F5;
}

/* ---------- HEADER end ----------  */

/* ---------- FOOTER ----------  */
.footer {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #000000;
}

.container {
    max-width: 1820px;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
}

.footer-top {
    box-sizing: border-box;
    padding: 50px 0 90px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.footer-bottom {
    display: flex;
    padding: 30px 0;
    box-sizing: border-box;
    justify-content: space-between;
    border-top: 1px solid #EFEFEF;
}

.footer__info-block .location {
    margin-top: 30px;
}

.footer__info-block .time-work {
    margin-top: 30px;
}

.footer-paymets {
    max-width: 336px;
    width: 100%;
}

.footer__nav-right .nav__item {
    margin-top: 18px;
}

.footer__nav-left .nav__item {
    margin-top: 18px;
}


.logo {
    max-width: 247px;
}

.logo__img {
    width: 100%;
}

.nav__list {
    list-style: none;
    padding: 0 5px;
    margin: 0;
}

.nav__item:first-child {
    margin-top: 0px;
}

.nav__link {
    text-decoration: none;
    color: #000000;
}

.call-block__btn {
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    background: #0B9CEF;
    color: #ffffff;
}

.call-block__btn-footor {
    padding: 15px 30px;
}

.tel {
    text-decoration: none;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    color: #000000;
}

.tel-footer {
    margin-right: 21px;
}

.time-work {
    position: relative;
    padding-left: 35px;
    width: 191px;
    font-size: 16.84px;
}

.time-work::before {
    content: '';
    top: 2px;
    left: 0px;
    width: 19px;
    height: 19px;
    position: absolute;
    background-image: url(../images/clock.svg);
}

.copyright {
    max-width: 340px;
}

.paymet__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0 5px;
}

.paymet__item {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #EBEBEB;
}

.write-me {
    width: 303px;
}

.write-me__link {
    text-decoration: none;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    color: #000000;
}

.location {
    position: relative;
    padding-left: 35px;
    width: 246px;
}

.location::before {
    content: '';
    top: 3px;
    left: 0px;
    width: 19px;
    height: 20px;
    position: absolute;
    background-image: url(../images/map.svg);
}

.location a {
    color: #0B9CEF;
    background-color: #ffffff;
    position: relative;
    display: block;
    padding: 0;
    text-decoration: underline;
}

.location a:hover {
    background-color: #ffffff;

}

.contact__inner {
    padding: 15px;
}

.contact__inner .location {
    margin-top: 30px;
}

.contact__inner>.copyright {
    margin-top: 30px;
}

.contact__inner .write-me a {
    color: #0B9CEF;
    background-color: #ffffff;
    position: relative;
    display: block;
    padding: 0;
    text-decoration: underline;
}

.line {
    display: none;
}

/* ---------- FOOTER end ----------  */

/* ---------- ACCORDION ---------- */
*,
*::before,
*::after {
    box-sizing: border-box;
}

@media (min-width: 576px) {

    .accordion {
        display: none;
    }
}

.accordion__content .time-work>span {
    display: block;
}

.accordion__content .time-work>span:first-child {
    color: #000000;
    opacity: 0.5;
}

.accordion__content .location>span {
    display: block;
}

.accordion__content .location>span:first-child {
    color: #000000;
    opacity: 0.5;
}

.accordion__item {
    margin-bottom: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 15%);
}

.accordion__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;
    color: #fff;
    font-weight: 500;
    background-color: #0B9CEF;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}

.accordion__header::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    content: "";
    transition: transform 0.2s ease-out;
}

.accordion__item_show .accordion__header::after,
.accordion__item_slidedown .accordion__header::after {
    transform: rotate(-180deg);
}

.accordion__header:hover {
    background-color: #2c78e9;
}

.accordion__content {
    display: flex;
    flex-direction: column;
    background: #fff;
}

.accordion__content a {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    /* color: #212529; */
    text-decoration: none;
    background-color: #fff;
}

.accordion__content a:last-child {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

.accordion__content a:hover {
    background-color: #f8f9fa;
}

.accordion__item:not(.accordion__item_show) .accordion__body {
    display: none;
}

/* ---------- ACCORDION end ---------- */
/* ---------- COMMENTS ----------  */
.header-page {
    max-width: 1920px;
    width: 100%;
    min-height: 137px;
    background-image: linear-gradient(90deg, rgb(11, 156, 239, .75) 6.67%, rgb(163, 212, 239, .75) 94.66%), url('../images/banner-top.png');
    padding-top: 24px;
    padding-left: 164px;
    margin-bottom: 135px;
}

/* ---------- COMMENTS end ----------  */
/* style for price by MK */

.header-page {
    max-width: 1920px;
    min-height: 137px;
    background-image: linear-gradient(90deg, rgb(11, 156, 239, .75) 6.67%, rgb(163, 212, 239, .75) 94.66%), url('../images/banner-top-page.jpg');
    padding-top: 24px;
    padding-left: 164px;
    margin-bottom: 135px;
}

.heading {
    font-size: 44px;
    font-weight: 900;
    font-style: italic;
    line-height: 52px;
    color: #FFFFFF;
}

.price__container {
    padding: 0 280px;
    margin-left: 0;
    margin-right: 0;
}

.price__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(348px, 312px));
    grid-column-gap: 60px;
    grid-row-gap: 54px;
    grid-auto-flow: dense;
    list-style: none;
}

.card-certificate {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 52px 74px;
    max-width: 348px;
    border-radius: 6px;
    background-color: #FFFFFF;
}

.card-certificate__picture {
    max-width: 242px;
    max-height: 136px;
    object-fit: cover;
    margin-bottom: 30px;
}

.card__short-descriprion {
    max-width: 296px;
    max-height: 66px;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 24px;
}

.card__price {
    width: 165px;
    border: 1.5px solid #0B9CEF;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 48px;
}

.price-value {
    font-size: 18px;
    line-height: 30px;
}

.card__button-buy {
    display: block;
    padding: 12px 60px;
    border-radius: 25px;
    background-color: #0B9CEF;
    color: #FFFFFF;
}

/* ---------- COMMENTS ---------- */
.comments {
    display: grid;
    grid-auto-columns: 1fr;
    padding: 0 15px;
    gap: 20px;
}

.comment {
    margin: 0 auto;
    max-width: 1380px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 28px 28px 28px 50px;
    background: #FFFFFF;
    border-radius: 6px;
}

.comment .inner {
    max-width: 1136px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.comment .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    width: 263px;
}

.comment__avatar {
    width: 91px;
    height: 91px;
    border-radius: 50%;
}

.comment__avatar img {
    width: 100%;
}

.comment__author {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.author__name,
.author__age {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

.comment__text {
    max-width: 754px;
    width: 100%;
}

.comment__text p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #939393;
}

.comment__data {
    align-self: flex-end;
}

.comment__data span {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    color: #939393;

}

/* ---------- CF7 end ---------- */
#wpcf7-f25-o1 {}

.comments-cf7 {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1152px;
    width: 100%;
}

.comments-cf7 p {
    margin: 0;
}

.comments-cf7__title {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 27.88px;
    line-height: 120%;
    color: #1B1918;
}

.cf7-text-reviews {
    margin-top: 5px;
}

.cf7-text-reviews,
.cf7-name-reviews,
.cf7-email-reviews {
    background: #F1F1F1;
    border: 0.5px solid #0B9CEF !important;
    border-radius: 8.5798px !important;
}

.cf7-text-reviews {
    padding: 30px 36px;
}

.wpcf7-form-control-wrap input[type="text"] {
    padding: 12px 36px;
}

.wpcf7-form-control-wrap input[type="email"] {
    padding: 12px 36px;
}

.cf7-submit-reviews {
    margin-top: 38px;
    width: 100%;
    height: 70px;
    border-radius: 15px !important;
    padding: 0 27px !important;
    font-weight: 500 !important;
    font-size: 22px !important;
    line-height: 160% !important;
    color: #FFFFFF !important;
    background: #0B9CEF !important;
}

/* ---------- CF7 end ---------- */
/* ---------- GELOCATION ---------- */
.comments-gelocation {
    max-width: 1592px;
    margin: 100px auto;
}

.gelocation {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;
    justify-content: center;
}

.contact__items {
    margin: 0px 24px 24px 0px;
}

.contact__item {
    background: #FFFFFF;
    box-shadow: 0px 11.5279px 23.0558px rgba(0, 0, 0, 0.06);
    border-radius: 6.91673px;
    text-align: left;
    padding: 53px 85px 167px 102px;
}

.contact__title {
    font-style: normal;
    font-weight: 500;
    font-size: 27.6669px;
    line-height: 170%;
    color: #222129;
    text-align: center;
    margin: 0px 0px 84px 0px;
}

.contact__address {
    font-style: normal;
    font-weight: 500;
    font-size: 20.7502px;
    line-height: 160%;
    color: #222129;

    max-width: 336px;
    margin: 0px 0px 33px 0px;
    position: relative;
    padding-left: 28px;
}

.contact__address::before {
    content: '';
    background: url('../images/gelocation.svg') no-repeat;
    width: 22px;
    height: 25px;
    position: absolute;
    top: 6px;
    left: -5px;
}

.contact__iphone {
    margin: 0px 0px 54px 0px;
    padding-left: 28px;
    position: relative;
}

.contact__iphone::before {
    content: '';
    background: url('../images/gelocation-call.svg') no-repeat;
    width: 22px;
    height: 25px;
    position: absolute;
    top: 6px;
    left: -5px;
}

.iphone-contact {
    color: #222129;
    text-decoration: none;
    font-weight: 500;
    font-size: 20.7502px;
    line-height: 160%;
}

.contact__work {
    font-style: normal;
    font-weight: 400;
    font-size: 18.4446px;
    line-height: 160%;
    color: #222129;
}

.gelocation__items {
    flex: 1 1 50%;
}

.gelocation__item iframe {
    border: none;
}

/* ---------- GELOCATION end ---------- */

/* ---------- COMMENTS end ---------- */